<template>
  <div class="dars">
    <h2 class="title">Java Salom dunyo dasturi</h2>
    <p class="text">
      Ushbu qo'llanmada siz Java tilida "Salom Dunyo" dasturini yozishni
      o'rganasiz. "Salom, dunyo!" <code>Hello, World!</code> ekranga chiqadigan
      oddiy dasturdir . Bu juda oddiy dastur bo'lgani uchun u ko'pincha yangi
      boshlanuvchiga yangi dasturlash tilini tanishtirish uchun ishlatiladi.
      Keling, Java qanday "Salom, dunyo!" dastur ishlaydi.
    </p>
    <hr />
    <pre
      style="max-height: 600px; background-color: white; color: black"
    ><code class="java hljs"><span class="hljs-comment">// Sizning birinchi programmangiz</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">SalomDunyo</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        System.out.println(<span class="hljs-string">"Salom, Dunyo!"</span>); 
    }
}</code></pre>
  </div>
</template>
<script>
export default {
  name: 'dars',
}
</script>
<style>
pre{
    width: 50%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.title {
  font-size: 36px;
  line-height: 54px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
p code {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
