<template>
    <div class="mavzular">
            <ul class="list">
                <div class="item">
                   <h2 class="item__title">
                       Javaga kirish
                   </h2>
                  <Dars/>
                </div>
            </ul>
        </div>
</template>
<script>
import Dars from './dars.vue';
export default {
    name: "mavzular",
    components: { Dars }
}
</script>
<style scoped>
.item__title{
    font-size: 50px;
    line-height: 70px;
}
</style>