<template>
  <div>
    <footer class="footer">
      <div class="container footer__container">
          <nuxt-link @click.native="scrollToTop" class="logo" to="/">
          ilm <span>ol</span>
        </nuxt-link>
        <ul class="footer__list">
          
          <li class="footer__item">
            <a class="footer__link" 
            target="_blank"
            href="mailto:ilmol@gmail.com"
              ><i class="ri-mail-line ri-lg"></i>ilmol@gmail.com</a
            >
          </li>
        </ul>
        <ul class="messenger__list">
          <li class="messenger__item">
            <a class="messenger__link" href="/">
              <i class="ri-instagram-line ri-2x"></i>
            </a>
          </li>
          <li class="messenger__item">
            <a class="messenger__link" href="/"
              ><i class="ri-telegram-line ri-2x"></i
            ></a>
          </li>
          <li class="messenger__item">
            <a class="messenger__link" href="/">
              <i class="ri-facebook-fill ri-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</template>

<script>
import 'remixicon/fonts/remixicon.css'
export default {
  name: 'TheFooter',

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0)
    },
  }
}
</script>
<style scoped>
.footer {
  padding: 30px 0;
  background: #171717;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer__list {
  max-width: 350px;
}
.footer__item:not(:last-child) {
  margin-bottom: 18px;
}
.footer__link {
  display: flex;
  align-items: center;
}

.footer__link i {
  margin-right: 13px;
}
.messenger__list {
  display: flex;
  align-items: center;
}
.messenger__item {
  border: 2px solid #282828;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messenger__item:not(:last-child) {
  margin-right: 15px;
}
.messenger__item:hover path {
  fill: #ffda79;
}
.footer__logo {
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .footer__logo,
  .footer__list {
    margin-bottom: 60px;
  }
  .footer__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 784px) {
  .footer__container {
    align-items: unset;
  }
  .footer__list {
    margin-top: 40px;
  }
}
</style>
