<template>
  <div>
    <header class="header">
      <div class="container header__container">
        <nuxt-link @click.native="scrollToTop" class="logo" to="/">
          ilm <span>ol</span>
        </nuxt-link>
        <div class="header__content" :class="menuShow ? 'show' : ''">
          <ul class="nav__list">
            <li class="nav__item">
              <nuxt-link to="/darslar">Darslar</nuxt-link>
            </li>
            <li class="nav__item">
              <nuxt-link to="/videolar">Videolar</nuxt-link>
            </li>
            <li class="nav__item">
              <nuxt-link to="/maqolalar">Maqolalar</nuxt-link>
            </li>
            <li class="nav__item">
              <nuxt-link to="/havolalar">Havolalar</nuxt-link>
            </li>
          </ul>
          <a class="header__phone" target="_blank" href="https://learnjava.netlify.app/java/tryjava4c57.html?filename=demo_helloworld"
            >Online kompilyator</a
          >
          <nuxt-link to="login" class="login">

          <Button title="kirish" />
        </nuxt-link>
        </div>

        <div class="header__menu">
          <div
            class="menu__btns"
            @click=";(hamburgerOpen = !hamburgerOpen), (menuShow = !menuShow)"
            :class="hamburgerOpen ? 'is-active' : ''"
          >
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import Button from './homePage/button.vue'
export default {
  name: 'TheHeader',
  components: {
    Button
},
   methods: {
    scrollToTop() {
      window.scrollTo(0, 0)
    },
  },
  data() {
    return {
      hamburgerOpen: false,
      menuShow: false,
    }
  },
}
</script>

<style scoped>
.header {
  padding: 45px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #171717;
  z-index: 99999;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.login{
  margin-left: 40px;
}
.nav__list {
  display: flex;
}
.nav__item {
  white-space: nowrap;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.header__phone {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.header__phone i{
  margin-right: 10px;
}

/* Menu */
.header__menu {
  display: none;
}
.menu__btns {
  transition: all 0.3s ease-in-out;
}

.menu__btns.is-active {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

.menu__btns.is-active .line:nth-child(1),
.menu__btns.is-active .line:nth-child(2),
.menu__btns.is-active .line:nth-child(3) {
  transition-delay: 0.2s;
}

.menu__btns.is-active .line:nth-child(2) {
  opacity: 0;
}

.menu__btns.is-active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu__btns.is-active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.menu__btns .line {
  width: 18px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
}

.menu__btns:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 30px 0;
  }
  .header__container {
    position: relative;
  }
  .header__logo img {
    width: 99px;
    height: 50px;
  }
  .header__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    background: #171717;
    left: 50%;
    transform: translateX(-50%);
    top: 150%;
    display: none;
  }
  .header__content.show {
    height: 100vh;
    display: block;
    padding: 40px;
  }
  .header__phone {
    justify-content: center;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    margin-bottom: 20px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header__menu {
    display: block;
    position: absolute;
    right: 20px;
  }
}
</style>
