  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


  @font-face {
    font-family: 'Mak';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Mak-Bold.woff2') format('woff2'),
         url('../fonts/Mak-Bold.woff') format('woff'); 
  }


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    background: #1d1d1d;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: "inter", "Roboto", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ffffff;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 1066px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  a{
    transition: all .3s ease-in-out;
  }

  a:hover{
    color: #f89820;
  }
  .logo {
    margin-right: 100px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #5382a1;
  }
  .logo span{
    color:#f89820;
  }