<template>
  <div>
    <TheHeader />
    <transition >
      <nuxt class="margin" />
    </transition>
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from '../components/TheHeader.vue'
import TheFooter from '../components/TheFooter.vue'
export default {
  name: 'DefaultPage',

  components: { TheHeader, TheFooter },
}
</script>
<style>
.margin{
  margin-top: 120px;
}
@media screen and (max-width:803px) {
  .margin{
    margin-top: 110px;
  }
}
</style>