<template>
  <div class="darslar">
    <div class="container">
      <Mavzular />
    </div>
  </div>
</template>
<script>
import Mavzular from '../components/darsliklar/mavzular.vue'
export default {
  name: 'Darslar',
  components: { Mavzular },
}
</script>
<style scoped>
.darslar {
  margin-top: 180px;
}
</style>
