<template>
  <div class="container">
    <div class="maqolalar">
      <h1>Java ga oid eng mashxur havolalar</h1>
      <ul class="list">
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Javani String metodi haqida</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
        <li class="item">
          <a href="/" class="link">
            <h3 class="title">Java 1</h3>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
              tempore doloribus cum fugit qui id atque quibusdam dolor dolore
              placeat magnam maxime, modi voluptatibus enim alias saepe
              distinctio velit mollitia!
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Havolalar',
}
</script>
<style scoped>
.maqolalar {
  margin-top: 180px;
}
h1 {
    margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}
.list{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    margin-bottom: 30px;
}
</style>
