<template>
  <div class="body">
    <Asosiy class="mainBlock" />
    <Maqolalar />
    <Statistika />
    <Videolar/>
  </div>
</template>

<script>
import Statistika from '../components/homePage/statistika.vue'
import Videolar from '../components/homePage/videolar.vue'
import Asosiy from '../components/homePage/asosiy.vue'
import Maqolalar from '../components/homePage/maqolalar.vue'
export default {
  name: 'HomePage',
  components: {
    Statistika,
    Videolar,
    Asosiy,
    Maqolalar
},
}
</script>

<style scoped>
.mainBlock {
  height: screen;
  background: url(../assets/images/body-bg.png) no-repeat center center;
  background-size: cover;
}
</style>
