<template>
  <div class="container form__container">
      <from class="form">
          <h2 class="title">Tizimga Kirish</h2>
          <input type="text" placeholder="Foydalanuvchi nomi">
          <input type="password" placeholder="Prolingiz">
          <button type="submit">Kirish</button>
      </from>
  </div>
</template>
<script>
export default {
  name: 'login',
}
</script>
<style scoped>
.form__container{
    margin-top: 220px;
    margin-bottom: 80px;
    display: flex;align-items: center;
    justify-content: center;
}
.form{
width: 40%;height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #5382a1;
border-radius: 40px;
}
.title{
    margin-bottom: 30px;
}
input{
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #f89820;
    border-radius: 29px;
    outline: none;
    color: black;
    font-size: 22px;
}
button{
    border-radius: 26px;
    padding: 5px 16px;
    border: 2px solid #f89820;
    font-size: 25px;
}
</style>
