<template>
    <div class="maqolalar">
        <Maqolalar1/>
    </div>
</template>
<script>
import Maqolalar1 from '../components/homePage/maqolalar.vue';
export default {
    name: "Maqolalar",
    components: { Maqolalar1 }
}
</script>
<style>
.maqolalar{
    margin-top: 180px;
}
</style>