<template>
    <div class="videolar">
        <Videolar1/>
    </div>
</template>
<script>
import Videolar1 from '../components/homePage/videolar.vue';
export default {
    name: "Videolar",
    components: { Videolar1 }
}
</script>
<style scoped>
.videolar{
    margin-top: 180px;
}
</style>