<template>
  <div>
    <div class="main">
      <div class="container main__container">
        <h1 class="main__title">Zamonaviy JAVA ni birga o'rganamiz</h1>
        <div class="main__text">
          Java-ni onlayn o'rganish uchun qulay joy. Bu
          talabalarning onlayn ta'lim tajribasini oshirishga qaratilgan. U yangi boshlanuvchilar va tajribali dasturchilar uchun
          Java dasturlash tilining qiziqarli kurslarini taqdim etadi.
        </div>
        <nuxt-link to="login">
           <button class="btn" type="submit">Bizga qo'shiling</button>
        </nuxt-link>
       
      </div>
    </div>
  </div>
</template>

<script>
import buttonVue from './button.vue'
export default {
  name: 'MainBlock',
  components: {
    buttonVue,
  },
}
</script>
<style scoped>
.main {
  padding-top: 81px;
  padding-bottom: 300px;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main__container::after {
  content: '';
  background: url(../../assets/images/element.png) no-repeat center;
  width: 170px;
  height: 170px;
  position: absolute;
  right: 0;
  top: 70%;
}
.main__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
.main__text {
  max-width: 620px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.btn {
  padding: 15px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #171717;
  background: #ffda79;
  border: 2px solid #ffda79;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #171717;
  color: #ffda79;
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 32px;
    line-height: 38px;
  }
  .main__container::after {
    top: 120%;
  }
}
</style>
