<template>
    <div class="button">
        <button class="btn">{{title}}</button>
    </div>
</template>
<script>
export default {
    name:'Button',
    props:{
        title: {
            // required: true,
            type: String
        }
    }
}
</script>
<style scoped>
.btn {
  padding: 15px 30px;
  display: inline;
  background: #171717;
  border: 1px solid #ffda79;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffda79;
  transition: all .3s ease-in;
}
.btn:hover{
background: #ffda79;
color: #171717;
}
</style>