<template>
  <div>
    <div class="services__card">
      <h3 class="services__title">String metodi haqida</h3>
      <p class="services__text">
        String - bu belgilar ketma-ketligi. Lekin Java-da string belgilar
        ketma-ketligini ifodalovchi ob'ektdir. Java.lang.String klassi string
        ob'ektini yaratish uchun ishlatiladi.
      </p>
      <Button title="ko'proq o'qish" />
    </div>
  </div>
</template>
<script>
import Button from './button.vue'
export default {
  name: 'ServicesCard',
  components: { Button },
}
</script>
<style scoped>
.services__card {
  background: url(../../assets/images/servicesCard-bg.png) no-repeat center;
  background-size: cover;
  padding: 30px;
  padding-top: 60px;
  border-top: 1px solid #ffda79;
}
.services__title {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.services__text {
  margin-bottom: 197px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
</style>
