<template>
  <div class="services" id="services">
    <div class="container services__container">
      <h2 class="services__title">
       <span>Java</span> bo'yicha eng mashxur <span>maqolalar</span> to'plami
      </h2>
      <ul class="services__list">
        <li class="services__item"><MaqolaCard/></li>
        <li class="services__item"><MaqolaCard/></li>
        <li class="services__item"><MaqolaCard/></li>
      </ul>
    </div>
  </div>
</template>
<script>
import MaqolaCard from './maqolaCard.vue'
export default {
  name: 'ServicesBlock',
  components: {  MaqolaCard },
}
</script>
<style scoped>
.services {
  position: relative;
}
.services__container::before {
  content: 'maqolalar';
  font-family: 'Mak';
  font-weight: 700;
  font-size: 180px;
  line-height: 200px;
  text-transform: uppercase;
  color: #313131;
  position: absolute;
  top: 15%;
  left: -15%;
  z-index: -10;
}
.services__container {
  position: relative;
  padding-top: 120px;
  padding-bottom: 240px;
  z-index: 100;
}
.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.services__title {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 51px;
  line-height: 62px;
  text-transform: uppercase;
}
span {
  color: #ffda79;
}

@media screen and (max-width: 768px) {
  .services__container::before {
    display: none;
  }
  .services__list {
    grid-template-columns: auto;
  }
  .services__title {
    font-size: 32px;
    line-height: 39px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1092px) {
  .services__container::before {
    font-size: 100px;
    line-height: 112px;
    left: unset;
  }
  .services__list {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
