<template>
  <div class="statistics">
    <div class="container statistics__container">
      <div class="statistics__title">
        Bizning <span>statistikamiz</span> siz ham qo'shiling
      </div>
      <ul class="statistics__list">
        <li class="statistics__item">
          <span class="statistics__number">50</span>
          <p class="statistics__description">
            Senior Java mutahasislarimiz tomonidan mukammal tarzda ishlangan videokurslar
          </p>
        </li>
        <li class="statistics__item">
          <span class="statistics__number">35</span>
          <p class="statistics__description">
           JAVA ga oid o'zbek tilidagi eng kerakli maqolalar to'plami
          </p>
        </li>
        <li class="statistics__item">
          <span class="statistics__number">10</span>
          <p class="statistics__description">
            JAVA da o'z portfolioyingizga qo'shishingiz mumkin bo'lgan real loyihalar to'plami
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Statistika',
}
</script>
<style scoped>
.statistics__container {
  position: relative;
}
.statistics__container::before {
  content: 'statistika';
  font-family: 'Mak';
  font-weight: 700;
  font-size: 200px;
  line-height: 240px;
  text-transform: uppercase;
  color: #313131;
  position: absolute;
  top: 15%;
  left: -15%;
  z-index: -10;
}
.statistics__title {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 51px;
  line-height: 62px;
  text-transform: uppercase;
}
.statistics__title > span {
  color: #ffda79;
}
.statistics__list {
  margin-bottom: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.statistics__item {
  width: 322px;
  height: 322px;
  background: #1d1d1d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 4px solid transparent;
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-position: center center, left top, right top, left bottom,
    right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
}
.statistics__item:first-child {
  background-image: linear-gradient(#1d1d1d, #1d1d1d),
    linear-gradient(30deg, #282828 36%, #282828 30%),
    linear-gradient(10deg, #ffda79 0%, #ffda79 0%),
    linear-gradient(300deg, #282828 36%, #282828 30%),
    linear-gradient(210deg, #ffda79 60%, #282828 30%);
}
.statistics__item:last-child {
  background-image: linear-gradient(#1d1d1d, #1d1d1d),
    linear-gradient(30deg, #ffda79 36%, #ffda79 0%),
    linear-gradient(10deg, #ffda79 0%, #282828 0%),
    linear-gradient(300deg, #282828 36%, #ffda79 30%),
    linear-gradient(210deg, #282828 60%, #282828 30%);
}
.statistics__item:nth-child(2) {
  background-image: linear-gradient(#1d1d1d, #1d1d1d),
    linear-gradient(30deg, #282828 36%, #282828 0%),
    linear-gradient(10deg, #ffda79 0%, #282828 0%),
    linear-gradient(300deg, #ffda79 66%, #ffda79 30%),
    linear-gradient(210deg, #282828 60%, #ffda79 30%);
}
.statistics__description {
  width: 202px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.statistics__number {
  padding-top: 40px;
  font-family: 'Mak';
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .statistics__container::before {
    display: none;
  }
  .statistics__item {
    margin: 0 auto;
  }
  .statistics__title {
    font-size: 32px;
    line-height: 39px;
  }
  .statistics__list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .statistics__item {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1092px) {
  .statistics__container::before {
    font-size: 100px;
    line-height: 112px;
    left: unset;
  }
  .statistics__list {
    grid-template-columns: 1fr 1fr;
  }
  .statistics__item {
    margin: 0 auto;
  }
}
</style>
