<template>
  <div class="blog">
    <div class="container blog__container">
      <h3 class="blog__title">
        Eng kerakli <span>Videolar</span> to'plami <span>siz uchun</span>
      </h3>
      <ul class="blog__list">
        <li class="blog__item">
          <img
            class="blog__img"
            src="../../assets/images/avenue.png"
            alt=""
            width="322"
            height="322"
          />
          <div class="blog__content">
            <span class="blog__date"><i class="ri-time-line ri-lg"></i>13 soat 40 daqiqa</span>
            <h4 class="blog__text">
              Ushbu kurs Java ni endi boshlayotganlar uchun juda foydali
            </h4>
            <Button title="ko'proq ko'rish" />
          </div>
        </li>
        <li class="blog__item">
          <img
            class="blog__img"
            src="../../assets/images/avenue.png"
            alt=""
            width="322"
            height="322"
          />
          <div class="blog__content">
            <span class="blog__date"><i class="ri-time-line ri-lg"></i>10 soat 30 daqiqa</span>
            <h4 class="blog__text">
               Ushbu kurs Java ni ozroq bo'lsada biladiganlar uchun
            </h4>
            <Button title="ko'proq ko'rish" />
          </div>
        </li>
        <li class="blog__item">
          <img
            class="blog__img"
            src="../../assets/images/avenue.png"
            alt=""
            width="322"
            height="322"
          />
          <div class="blog__content">
            <span class="blog__date"><i class="ri-time-line ri-lg"></i>15 soat 15 daqiqa</span>
            <h4 class="blog__text">
              Ushbu kurs Java mutaxasislari uchun ham kerakli
            </h4>
            <Button title="ko'proq ko'rish" />
          </div>
        </li>
      </ul>
      <nuxt-link to="/videolar">
      <Button title="Bazcha kurslarni ko'rish" />
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import Button from './button.vue'
export default {
  name: 'BlogBlock',
  components: { Button },
}
</script>
<style scoped>
.blog {
  margin-bottom: 120px;
}

.blog__container {
  position: relative;
}
.blog__container::before {
  content: 'videolar';
  font-family: 'Mak';
  font-weight: 700;
  font-size: 200px;
  line-height: 240px;
  text-transform: uppercase;
  color: #313131;
  position: absolute;
  top: 5%;
  left: -15%;
  z-index: -10;
}
.blog__title {
  margin-bottom: 53px;
  font-weight: 500;
  font-size: 51px;
  line-height: 62px;
  text-transform: uppercase;
}
span {
  color: #ffda79;
}
.blog__list {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.blog__item {
  max-width: 322px;
  height: 575px;
  background: #171717;
  border: 2px solid #282828;
}
.blog__content {
  padding: 30px;
}
.blog__date {
  margin-bottom: 10px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
}

.blog__date i{
  margin-right: 6px;
}

.blog__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .blog__container::before {
    font-size: 50px;
    line-height: 60px;
  }
  .blog__title {
    font-size: 32px;
    line-height: 39px;
  }
  .blog__list {
    grid-template-columns: 1fr;
  }
  .blog__item {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1092px) {
  .blog__container::before {
    font-size: 100px;
    line-height: 112px;
    left: unset;
  }

  .blog__list {
    grid-template-columns: 1fr 1fr;
  }
  .blog__item {
    margin: 0 auto;
  }
}
</style>
